#SP Rules
sp ipv4 out esp protect 31 pri 1 10.10.10.1/32 sport 0:65535 dport 0:65535
sp ipv4 in esp protect 32 pri 1 10.10.10.2/32 sport 0:65535 dport 0:65535

sp ipv4 out esp protect 62 pri 1 20.20.20.2/32 sport 0:65535 dport 0:65535
sp ipv4 in esp protect 61 pri 1 20.20.20.1/32 sport 0:65535 dport 0:65535

sp ipv4 out esp protect 92 pri 1 30.30.30.2/32 sport 0:65535 dport 0:65535
sp ipv4 in esp protect 91 pri 1 30.30.30.1/32 sport 0:65535 dport 0:65535

sp ipv4 out esp protect 122 pri 1 40.40.40.2/32 sport 0:65535 dport 0:65535
sp ipv4 in esp protect 121 pri 1 40.40.40.1/32 sport 0:65535 dport 0:65535



#SA Rules
sa out 31 cipher_algo aes-128-cbc cipher_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 auth_algo sha1-hmac auth_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 mode ipv4-tunnel src 1.1.1.2 dst 1.1.1.1

sa in 32 cipher_algo aes-128-cbc cipher_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 auth_algo sha1-hmac auth_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 mode ipv4-tunnel src 1.1.1.1 dst 1.1.1.2

sa out 62 cipher_algo aes-128-cbc cipher_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 auth_algo sha1-hmac auth_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 mode ipv4-tunnel src 2.2.2.1 dst 2.2.2.2

sa in 61 cipher_algo aes-128-cbc cipher_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 auth_algo sha1-hmac auth_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 mode ipv4-tunnel src 2.2.2.2 dst 2.2.2.1

sa out 92 cipher_algo aes-128-cbc cipher_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 auth_algo sha1-hmac auth_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 mode ipv4-tunnel src 3.3.3.1 dst 3.3.3.2

sa in 91 cipher_algo aes-128-cbc cipher_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 auth_algo sha1-hmac auth_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 mode ipv4-tunnel src 3.3.3.2 dst 3.3.3.1

sa out 122 cipher_algo aes-128-cbc cipher_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 auth_algo sha1-hmac auth_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 mode ipv4-tunnel src 4.4.4.1 dst 4.4.4.2

sa in 121 cipher_algo aes-128-cbc cipher_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 auth_algo sha1-hmac auth_key a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0:a0 mode ipv4-tunnel src 4.4.4.2 dst 4.4.4.1


#Routing Rules
rt ipv4 dst 10.10.10.2/32 port 0
rt ipv4 dst 1.1.1.1/32 port 4

rt ipv4 dst 20.20.20.1/32 port 1
rt ipv4 dst 2.2.2.2/32 port 4

rt ipv4 dst 30.30.30.1/32 port 2
rt ipv4 dst 3.3.3.2/32 port 4

rt ipv4 dst 40.40.40.1/32 port 3
rt ipv4 dst 4.4.4.2/32 port 4



#Neighbour Rules
neigh port 0 11:22:33:44:55:01

neigh port 1 aa:bb:cc:dd:ee:f1

neigh port 2 aa:bb:cc:dd:ee:f2

neigh port 3 aa:bb:cc:dd:ee:f3

